body {
  background-color: #f8f9fa;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  height: 160px;
  border-radius: 100%;
}

.players-pool {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* antes estava 6px */
  padding: 12px;
  border: 2px dashed #dee2e6;
  border-radius: 12px;
  background: #fdfdfd;
  min-height: 70px;
}

.players-pool input {
  flex: 1;
  border: none;
  outline: none;
  min-width: 120px;
}

.player {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  background: #e9ecef;
  border-radius: 8px;
  font-size: 0.85rem;
  line-height: 1.2;
  cursor: grab;
  user-select: none;
  white-space: nowrap;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.player:active {
  cursor: grabbing;
}

.player:hover {
  background: #dee2e6;
}

.player.dragging {
  opacity: 0.6;
}

.drop-zone {
  min-height: 90px;
  border: 2px dashed #dee2e6;
  border-radius: 12px;
  padding: 10px;
  background: #f8f9fa;
  transition: 0.2s;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 576px) {
  .drop-zone .player {
    width: 100%;
  }
}

.drop-zone.drag-over {
  background: #e7f1ff;
  border-color: #0d6efd;
}

.team-card {
  background: white;
  border-radius: 50px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(139, 139, 139, 0.05);
}

.app-footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  color: #6c757d;
  font-size: 0.8rem;
}

/* Coluna de configuração */
.config-panel {
  border-right: 1px solid #dee2e6;
  padding-right: 12px;
}

/* Em mobile, remove divisão */
@media (max-width: 768px) {
  .config-panel {
    border-right: none;
    padding-right: 0;
  }
}
